-# シューズ１
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %path{d: "m74.083 286.42h63.5v10.583h-31.75v-10.583 10.583h-31.75z", stroke: "#000", "stroke-width": "3"}
