-# 上半身（ぽっちゃり）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000", "stroke-width": "3"}
    %path{d: "m84.667 177.94c15.255 18.068 29.123 17.226 42.333 0 6.3998-2.538 13.165 0.95404 21.167 13.229l8.9958 31.75-14.817 1e-5 -4.7625-10.583c3.8767 11.716 9.6826 22.239 0 42.333-20.236 6.4811-41.24 7.611-63.5 0-8.1532-15.762-5.879-29.413 0-42.333l-4.7625 10.583-14.817-1e-5 8.9958-31.75c8.5574-13.04 14.993-15.287 21.167-13.229z"}
    %path{class: "skin", d: "m142.7 222.92 3.7042 18.521v10.583l10.583 4.2333c10.583-4.2333 8.1518-7.7953 0-14.817v-18.521z"}
    %path{class: "skin", d: "m68.792 222.92-3.175 18.521v10.583l-10.583 4.2333c-10.583-4.2333-8.1518-7.7953 0-14.817v-18.521z"}
