-# 上半身（太った）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000"}
    %g{"stroke-width": "3"}
      %path{d: "m84.667 177.94c15.255 18.068 29.123 17.226 42.333 0 6.3998-2.538 18.457 0.95405 26.458 13.229l10.583 31.75h-10.583c-1.8174-11.526-6.5126-20.956-15.875-26.988 15.875 10.583 25.929 47.625 4.7625 63.5-20.638-15.346-52.387-15.346-73.025-0.52917-21.167-5.2917-11.112-51.858 4.7625-62.442-9.3396 5.457-14.06 14.751-15.875 26.458h-10.583l10.583-31.75c8.5574-13.04 20.285-15.287 26.458-13.229z"}
      %path{class: "skin", d: "m155.4 222.92-2.1167 18.521v10.583l10.583 4.2333c10.583-4.2333 8.1518-7.7953 0-14.817v-18.521z"}
      %path{class: "skin", d: "m56.621 222.92v18.521l2.1167 10.583-10.583 4.2333c-10.583-4.2333-8.1518-7.7953 0-14.817v-18.521z"}
    %path{class: "skin", d: "m69.85 258.9c24.903-12.877 46.559-12.877 70.379 0-24.3 5.322-44.007 6.1126-70.379 0z", "stroke-width": ".091096"}
