-# パーカー２
#parker
  %svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
    %g{stroke: "#000"}
      -# %path{class: "skin", d: "m137.41 222.92v29.104l10.583 4.2333c10.583-4.2333 8.1518-7.7953 0-14.817v-18.521z", "stroke-opacity": ".99605", "stroke-width": "3"}
      -# %path{class: "skin", d: "m74.083 222.92v29.104l-10.583 4.2333c-10.583-4.2333-8.1518-7.7953 0-14.817v-18.521z", "stroke-opacity": ".99605", "stroke-width": "3"}
      %path{d: "m121.18 185.87c5.2918-5.2918 5.2918-10.584 10.584-10.584 6.0592-0.13193 26.459 10.584 5.8134 9.5307l10.054-6e-5c3.6668 12.488 8.3255 26.066 5.2917 38.1l-2.3673 21.167h-12.672v10.583h-65.171v-10.583h-12.672l-2.3673-21.167c-1.5469-13.77 2.6926-26.237 5.8208-38.1l10.054 0.52924c-11.635 0.52361-15.869-4.7682 5.2985-10.06 5.2918 0 5.2918 5.2918 10.584 10.584l15.875 21.167z", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2.92"}
    %g{stroke: "#000", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "3"}
      %path{d: "m137.58 204.4v39.688"}
      %path{d: "m73.025 204.4v39.688"}
      %path{fill: "none", d: "m73.554 185.34c5.2917 10.583 21.696 20.638 32.279 20.638 10.583 1e-5 26.458-10.054 31.75-20.638"}
    = render partial: "/avatar/upper_body/tops_line"