#line.black
  %svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
    %path{d: "m74.612 212.33 10.583 10.583-10.583 21.167"}
    %path{d: "m136 212.33-10.583 10.583 10.583 21.167"}
    %path{d: "m105.83 206.51v45.508", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "3"}
