-# 手
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000"}
    %path{d: "m137.41 222.92v29.104l10.583 4.2333c10.583-4.2333 8.1518-7.7953 0-14.817v-18.521z", "stroke-opacity": ".99605", "stroke-width": "3"}
    %path{d: "m74.083 222.92v29.104l-10.583 4.2333c-10.583-4.2333-8.1518-7.7953 0-14.817v-18.521z", "stroke-opacity": ".99605", "stroke-width": "3"}
