-# 顔（ぽっちゃり）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g
    %g
      %path{class: "skin", d:"m105.83 180.58c-21.1-3.3488-52.917-5.2917-58.208-31.75-15.541-17.081-15.453-31.699-15.875-52.917 0.0273-35.055 26.458-58.208 73.025-62.971 43.672 3.6213 75.142 25.929 75.142 62.971 0.27365 17.774-3.6698 32.369-15.875 52.917-5.2917 26.458-33.159 28.585-58.208 31.75z", :fill => "#f5dcb4", stroke:"#000", "stroke-width": "3"}
      %path{d:"m135.25 131.07a7.5647 7.5647 0 0 1 -7.5195 7.5646 7.5647 7.5647 0 0 1 -7.6093 -7.4742 7.5647 7.5647 0 0 1 7.4286 -7.6538 7.5647 7.5647 0 0 1 7.698 7.3828", stroke:"#060000", "stroke-opacity": ".075188", "stroke-width": ".247"}
      %path{d:"m92.081 130.31a7.5647 7.5647 0 0 1 -7.5195 7.5646 7.5647 7.5647 0 0 1 -7.6093 -7.4742 7.5647 7.5647 0 0 1 7.4286 -7.6538 7.5647 7.5647 0 0 1 7.698 7.3828", stroke:"#060000", "stroke-opacity": ".075188", "stroke-width": ".247"}
    %g{stroke: "#000"}
      %path{class: "skin", d:"m95.779 156.37s3.5278-6.8792 10.583-6.8792c7.0556 0 10.583 6.8792 10.583 6.8792", "stroke-width": "2.4187"}
      %path{class: "skin", d: "m108.48 133.49s-6.35 2.6458-6.35 5.2917c0 2.6458 6.35 5.2917 6.35 5.2917", "stroke-width": "3"}
      %path{class: "skin", d:"m84.667 177.94c26.458 28.575 42.142-0.73908 42.863-1.0584-10.055 5.8209-31.75 6.8792-42.863 1.0584z", "stroke-width": "2.4495"}
      %path{class: "skin", d:"m139.34 122.37s4e-3 -5.139-4.8903-8.7236c-4.8943-3.5846-9.7926-2.0302-9.7926-2.0302", "stroke-width": "1.7416"}
      %path{class: "skin wrinkle", d:"m126.07 149.16s-4.1756 2.1246-4.2306 6.427c-0.055 4.3024 4.0657 6.4803 4.0657 6.4803", "stroke-width": "1.4667"}
