-# 顔（太った）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g
    %path{class: "skin", d:"m137.05 171.59c-16.431 15.323-50.15 12.845-62.442 0-16.404 0-26.987-5.2917-26.988-26.458-15.875-12.171-15.875-34.925-15.875-54.504 5.2917-21.167 15.875-37.042 31.75-46.038 19.08-11.862 30.475-9.8581 42.333-12.171 19.141 1.7753 35.156 3.213 47.625 12.171 15.875 14.288 20.638 30.163 25.929 46.038 0 26.458-4.7625 37.042-15.346 54.504 1e-5 21.167-10.583 26.458-26.987 26.458z", stroke: "#0c080c", "stroke-width": "3"}
    %path{d:"m135.25 131.07a7.5647 7.5647 0 0 1 -7.5195 7.5646 7.5647 7.5647 0 0 1 -7.6093 -7.4742 7.5647 7.5647 0 0 1 7.4286 -7.6538 7.5647 7.5647 0 0 1 7.698 7.3828", stroke:"#060000", "stroke-opacity": ".075188", "stroke-width": ".247"}
    %path{d:"m92.081 130.31a7.5647 7.5647 0 0 1 -7.5195 7.5646 7.5647 7.5647 0 0 1 -7.6093 -7.4742 7.5647 7.5647 0 0 1 7.4286 -7.6538 7.5647 7.5647 0 0 1 7.698 7.3828", stroke:"#060000", "stroke-opacity": ".075188", "stroke-width": ".247"}
    %g{stroke:"#000"}
      %path{class: "skin", d:"m95.779 156.37s3.5278-6.8792 10.583-6.8792c7.0556 0 10.583 6.8792 10.583 6.8792", "stroke-width": "2.4187"}
      %path{class: "skin", d:"m108.48 133.49s-6.35 2.6458-6.35 5.2917c0 2.6458 6.35 5.2917 6.35 5.2917", "stroke-width": "3"}
      %path{class: "skin", d:"m84.667 178.47c26.458 28.575 42.142-1.2682 42.863-1.5875-10.055 5.8209-31.75 7.4084-42.863 1.5875z", "stroke-width": "2.4495"}
      %path{class: "skin", d:"m121.71 111.79s2.4458 4.5196 8.457 5.3382c6.0111 0.81852 9.5764-2.8826 9.5764-2.8826", "stroke-width": "1.7416"}
      %path{class: "skin wrinkle", d:"m126.07 149.16s-4.1756 2.1246-4.2306 6.427c-0.055 4.3024 4.0657 6.4803 4.0657 6.4803", "stroke-width": "1.4667"}
      %path{class: "skin wrinkle", d:"m89.958 167.88s5.2917 6.8792 15.875 6.8792c10.583 0 15.875-6.8792 15.875-6.8792", "stroke-width": "2"}
