-# 顔（スリム）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g
    %g
      %ellipse{class: "skin", cx: "105.3", cy: "99.772", rx: "72.586", ry: "78.256", stroke: "#000", "stroke-opacity": ".99624", "stroke-width": "3"}
      %path{d: "m135.25 131.07a7.5647 7.5647 0 0 1 -7.5195 7.5646 7.5647 7.5647 0 0 1 -7.6093 -7.4742 7.5647 7.5647 0 0 1 7.4286 -7.6538 7.5647 7.5647 0 0 1 7.698 7.3828", stroke: "#060000", "stroke-opacity": ".075188", "stroke-width": ".247"}
      %path{d: "m92.081 130.31a7.5647 7.5647 0 0 1 -7.5195 7.5646 7.5647 7.5647 0 0 1 -7.6093 -7.4742 7.5647 7.5647 0 0 1 7.4286 -7.6538 7.5647 7.5647 0 0 1 7.698 7.3828", stroke: "#060000", "stroke-opacity": ".075188", "stroke-width": ".247"}
    %g{stroke: "#000"}
      %path{class: "skin", d: "m95.779 148.83s3.5278 6.8792 10.583 6.8792c7.0556 0 10.583-6.8792 10.583-6.8792", "stroke-width": "2.4187"}
      %path{class: "skin", d: "m108.48 133.49s-6.35 2.6458-6.35 5.2917c0 2.6458 6.35 5.2917 6.35 5.2917", "stroke-width": "3"}
      %path{class: "skin", d: "m85.196 175.82c20.637 37.571 41.613-0.73904 42.334-1.0583-10.055 5.8209-31.221 6.8792-42.334 1.0583z", "stroke-width": "2.4495"}
