-# 下半身（ショートパンツ１）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000"}
    %path{class: "skin", d: "m88.371 267.9h34.925l-3.175 18.521h-28.575z", "stroke-width": "3"}
    %path{d: "m81.492 254.67h49.213l-3.175 13.229c-26.458 0-19.19-0.44146-43.392 0z", "stroke-linejoin": "round", "stroke-width": "3"}
    %path{d: "m105.83 261.55v24.871", "stroke-linecap": "round", "stroke-width": "2.5"}
