-# 髪（レディース１）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %path{d: "m137.58 93.8c-4.1375 6.1587-10.051 12.565-31.75 21.167l10.583-21.167c-19.155 19.684-45.239 27.985-74.083 31.75l21.167 42.333-10.583-10.583v10.583l-13.758-21.167c-7.4083-10.583-17.992-31.75-12.171-63.5 9.3032-24.916 13.471-51.186 78.846-62.442 42.359 7.3462 73.104 24.377 76.2 62.442 8.4667 21.167 2.6823 58.225-7.9375 67.204l-14.288 17.462-2.1167-13.229-10.054 12.171c5.9372-5.5448 10.508 1.3806 21.696-41.275l-10.583-31.75c0 10.583-4.0156 14.888-21.167 21.167z", stroke: "#000", "stroke-width": "3"}
