-# 髪（メンズ３）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000"}
    %path{d: "m31.75 95.917c3.5112-38.873 26.458-68.792 74.083-74.083 47.625 5.2917 70.646 34.892 74.083 74.083 1e-5 15.875-5.2917 23.813-10.583 39.688l-5.2917-2.6458-5.2917-26.458-5.2917-21.167h-95.25l-5.2917 21.167-5.2917 26.458-5.2917 2.6458c-5.2917-10.583-10.583-23.812-10.583-39.688z", "stroke-width": "3"}
    -# %path{d: "m126.5 101.74s5.297-3.8679 10.61-1.2966c5.3134 2.5713 5.3297 9.0105 5.3297 9.0105", "stroke-width": "2.0295"}
    -# %path{d: "m85.261 101.96s-5.297-3.8679-10.61-1.2966c-5.3134 2.5713-5.3297 9.0105-5.3297 9.0105", "stroke-width": "2.0295"}
