-# 髪（メンズ１）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %path{d: "m169.33 120.79-10.583-21.167c0 8.4667-10.583 19.05-21.167 21.167l1.5875-21.167c-3.5879 4.5086-22.754 19.05-33.338 21.167l4.2333-26.987c-12.056 25.957-57.15 35.454-67.733 35.454v-22.225 33.337l-7.9375-21.696c-2.6458 21.167-4.7625 0-4.7625-31.75 4.2333-30.692 23.283-31.75 4.2333-29.104 29.633-44.979 82.622-23.927 29.633-31.221 24.342-2.6458 62.533-14.38 63.5 0.52917 6.819 3.507 31.75 4.7625 42.333 38.629 15.012 15.805 11.32 30.968 10.583 44.45l-10.583 29.104v-32.808z", stroke: "#0c080c", "stroke-width": "2.5"}
