.mini-avatar{
  height: 40px;
  width: 40px;
  margin: auto;
}
.small-avatar{
  width: 60px;
  height: 60px;
  border: solid 2px #f1ead7;
  border-radius: 50%;
  background-color: #ffffff;
}
.big-avatar{
  width: 135px;
  margin: auto;
}
.large-avatar{
  width: 300px;
  height: 430px;
  margin: 20px auto;
}
.avatar-circle{
  width: 60px;
  height: 60px;
  border: solid 2px #f1ead7;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 15px;
}
.big-avatar-circle{
  width: 200px;
  height: 200px;
  border: solid 3px #f1ead7;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 auto;
}

@mixin parts{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.avatar{
  position: relative;
  #face{
    @include parts
  }
  .skin{
    @include parts
  }
  .hair{
    @include parts
  }
  #inner{
    @include parts
  }
  #parker{
    @include parts
  }
  #line{
    @include parts
  }
.tops{
    @include parts
  }
  #bottoms{
    @include parts
  }
  #shoes{
    @include parts
  }
}

.avatar_parts{
  display: flex;
  justify-content: space-between;
  .hidden_button{
    display: none;
  }
  .parts_preview{
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
    #parker{
      height: 100%;
      width: 100%;
      position: relative;
      #line{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  .tops_preview{
    height: 60px;
    width: 60px;
  }
  .inner_preview{
    height: 60px;
    width: 60px;
  }
  .parts_nothing{
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    border: solid 1px #000000;
    margin-top: 30px;
  }
  .bottoms_preview{
    height: 60px;
    width: 60px;
  }
}

#jogging_suits{
  height: 100%;
  width: 100%;
  position: relative;
  #line{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
