.red{
  fill: red;
  stroke: red;
  color: red;
}
.yellow{
  fill: yellow;
  stroke: yellow;
}
.blue{
  fill: blue;
  stroke: blue;
}
.green{
  fill: green;
  stroke: green;
}
.black{
  fill: #1f1e1e;
  stroke: #1f1e1e;
}
.gray{
  fill: gray;
  stroke: gray;
}
.brown{
  fill: #4f2702;
  stroke: #4f2702;
}
.orange{
  fill: orange;
  stroke: orange;
}
.skyblue{
  fill: #A2D7DD;
  stroke: #A2D7DD;
}
.white{
  fill: white;
  stroke: white;
}
// 肌・しわ
.skin{
  fill: #fce2c4;
}
.wrinkle{
  stroke: #DD8F68;
}

// ヘアバンド
.hair_band{
  fill:yellowgreen;
}