.form{
  width: 100%;
  &__title{
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
  }
}
.field-wrapper{
  display: flex;
  justify-content: space-between;
  .user-field{
    .field{
      width: 300px;
      margin: 0 auto 10px;
      .input-field{
        width: 100%;
        height: 40px;
      }
      .gender{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
      }
      #user_profile{
        min-height: 100px;
      }
    }
  }
  .login-field{
    width: 100%;
  }
}

.form-announce{
  width: 300px;
  text-align: center;
  margin: 20px auto;
  border: solid 2px #ad9570;
  border-radius: 10px;
}

.dress-up{
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px #f1ead7;
  background-color: #ffffff;
  text-align: center;
  z-index: 1500;
  &--icon{
    color: #ffb62f;
    font-size: 30px;
    line-height: 46px;
  }
  &--msg{
    font-size: 11px;
  }
}
.dress-up-close{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px #f1ead7;
  background-color: #ffffff;
  text-align: center;
  z-index: 1500;
}

.devise-submit{
  height: 60px;
  width: 120px;
}
.user-post{
  .actions{
    width: 120px;
    margin: 0 auto;
    .submit-button{
      height: 60px;
      line-height: 56px;
      width: 100%;
      background-color: #ffffff;
      border: solid 2px #f1ead7;
      border-radius: 20px;
      padding: 0 5px;
      font-size: 24px;
      font-weight: bold;
      color: #ad9570;
      cursor: pointer;
    }
    .submit-button:hover{
      border-color: #ad9570;
      background-color: #ad9570;
      color: #ffffff;
    }
  }
}

.hidden-tab{
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  cursor: pointer;
}
.hidden-tab:hover, .hovered{
  font-size: 20px;
  background-color: #ad9570;
  color: #ffffff;
}
.select-parts{
  padding-top: 10px;
}


@mixin colorSize{
  height: 26px;
  width: 26px;
}
#hair-color-field{
  @include colorSize
}
#tops-color-field{
  @include colorSize
}
#inner-color-field{
  @include colorSize
}
#bottoms-color-field{
  @include colorSize
}
#shoes-color-field{
  @include colorSize
}

.actions{
  width: 100px;
  margin: 0 auto;
  .submit-button{
    height: 40px;
    line-height: 36px;
    width: 100px;
    background-color: #ffffff;
    border: solid 2px #f1ead7;
    border-radius: 20px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
    color: #ad9570;
    cursor: pointer;
  }
  .submit-button:hover{
    border-color: #ad9570;
    background-color: #ad9570;
    color: #ffffff;
  }
  
}
