$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) and (max-width: ($pc)){
    @content;
  }
}
@mixin sp {
  @media (min-width: ($sp)) and (max-width: ($tab)) {
    @content;
  }
}

.main-content{
  @include pc {
    width: 70%;
  };
  @include tab {
    width: 100%;
  };
  @include sp {
  };
}
.side-bar{
  @include pc {
  };
  @include tab {
    display: none;
  };
  @include sp {
    display: none;
  };
}


.circle{
  @include pc {
    display: none;
  };
  @include tab {
  };
  @include sp {
  };
}

.side-responsive{
  @include pc {
    display: none;
  };
  @include tab {
  };
  @include sp {
  };
}

.avatar-responsive{
  @include pc {
    display: none;
  };
  @include tab {
  };
  @include sp {
  };
}

.user-content{
  @include pc {
  };
  @include tab {
    flex-direction: column;
  };
  @include sp {
    flex-direction: column;
  };
}

.field-wrapper{
  .user-field{
    @include pc {
      width: 33%;
    };
    @include tab {
      width: 50%;
    };
    @include sp {
      // width: 50%;
    };
  }
  .avatar-image{
    @include pc {
      width: 33%;
    };
    @include tab {
      width: 50%;
    };
    @include sp {
      // width: 50%;
    };
  }
  .avatar-form{
    @include pc {
      width: 33%;
    };
    @include tab {
      
    };
    @include sp {
      display: none;
      width: 50%;
    };
    .avatar-field{
      @include pc {
        display: block;
      };
      @include tab {
        display: block;
        position: absolute;
        top: 240px;
        right: 100%;
        background-color: #ffffff;
        border: solid 5px #ad9570;
        border-radius: 10px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
        margin: 0;
        z-index: 1000;
      };
      @include sp {
      };
    }
  }
}

