$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) and (max-width: ($pc)){
    @content;
  }
}
@mixin sp {
  @media (min-width: ($sp)) and (max-width: ($tab)) {
    @content;
  }
}

.main-content{
  @include pc {
    width: 70%;
  };
  @include tab {
    width: 100%;
  };
}
.side-bar{
  @include tab {
    display: none;
  };
  @include sp {
    display: none;
  };
}
.header{
  @include sp {
    position: relative;
  };
  &__right{
    .responsive-menu{
      @include pc {
        display: none;
      }
      @include tab {
        display: none;
      }
      @include sp {
        font-size: 40px;
      }
    }
    &__menu{
      @include sp {
        position: absolute;
        top: -200px;
        right: 30px;
        flex-direction: column;
      };
      .responsive-mypage{
        @include pc {
          display: none;
        }
        @include tab {
          display: none;
        }
      }
      .list{
        @include pc {
          border-radius: 20px;
        }
        @include tab {
          border-radius: 20px;
        }
        @include sp {
          border-radius: 0%;
          margin: 0;
        }
      }
    }
    .avatar-circle{
      @include sp {
        display: none;
      };
    }
  }
}

.active-menu{
  top: 80px;
}
.circle{
  @include pc {
    display: none;
  };
  @include sp {
    display: none;
  };
}

.side-responsive{
  @include pc {
    display: none;
  };
}

.avatar-responsive{
  @include pc {
    display: none;
  };
}

.user-content{
  @include tab {
    flex-direction: column;
  };
  @include sp {
    flex-direction: column;
  };
}

.field-wrapper{
  @include sp {
    flex-direction: column;
  };
  .user-field{
    @include pc {
      width: 33%;
    };
    @include tab {
      width: 50%;
    };
    @include sp {
      width: 100%;
    };
  }
  .avatar-image{
    @include pc {
      width: 33%;
    };
    @include tab {
      width: 50%;
    };
    @include sp {
      width: 100%;
    };
  }
  .avatar-form{
    @include pc {
      width: 33%;
    };
    @include sp {
      position: relative;
    };
    .avatar-field{
      @include pc {
        display: block;
      };
      @include tab {
        display: block;
        position: absolute;
        top: 240px;
        right: 100%;
        background-color: #ffffff;
        border: solid 5px #ad9570;
        border-radius: 10px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
        margin: 0;
        z-index: 1000;
      };
      @include sp {
        display: block;
        background-color: #ffffff;
        border: solid 5px #ad9570;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
        margin: 0 auto 10px;
        z-index: 1000;
        position: relative;
        right: 0;
      };
      .form-announce{
        @include sp {
          position: absolute;
          top: -100px;
          left: -35px;
          width: 170px;
          height: 60px;
          padding: 5px;
          border-radius: 50px;
          background-color: #ffffff;
        };
        &__advice{
          @include sp {
            position: absolute;
            top: -100px;
            left: -10px;
            width: 175px;
            height: 60px;
            padding: 5px;
            border: solid 2px #ad9570;
            border-radius: 50px;
            background-color: #ffffff;
            }
        }
      }
      .color-select{
        @include pc {
          margin: 20% auto;
        };
        @include sp {
          margin: 0 auto;
          width: auto;
        };
        &__announce{
          @include sp {
            position: absolute;
            top: -80px;
            right: -35px;
            width: 170px;
            height: 60px;
            border: solid 2px #ad9570;
            border-radius: 50px;
            background-color: #ffffff;
            padding: 5px;
          };
        }
        .radio-buttons{
          @include sp {
            display: flex;
            justify-content: space-around;
            position: relative;
            padding: 0px;
          };
          .hidden-tab{
            @include sp {
              width: auto;
              height: 30px;
              line-height: 30px;
              margin: 5px;
            };
          }
          .select-parts{
            @include sp {
              width: 90%;
              position: absolute;
              bottom: -140px;
              padding: 0;
            };
            .btn-wrapper{
              @include sp{
                padding: 0;
              }
            }
          }
        }
        .responsive-select-parts{
          @include pc {
            display: none;
          };
          @include tab {
            display: none;
          };
          @include sp {
            height: 150px;
            width: 100%;
          };
        }
      }
    }
  }
}

.image{
  @include pc {
    width: 300px;
    height: 300px;
  };
  @include tab {
    width: 250px;
    height: 250px;
  };
  @include sp {
    width: 150px;
    height: 150px;
  };
}