.error-messages{
  text-align: center;
  margin: 10px auto;
  color: red;
}
.tweet-form{
  display: flex;
  justify-content: center;
  .text-field{
    width: 400px;
    min-height: 80px;
    margin: 0 auto;
    border-radius: 10px;
    border-color: #ad9570;
    padding: 10px;
  }
}
.new-tweet-image{
  width: 200px;
  margin: 10px auto 0;
  position: relative;
  #image_preview{
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
  }
  .image-delete{
    position: absolute;
    top: 5px;
    left: 5px;
    border: solid 1px #ad9570;
    color: #ad9570;
    height: 20px;
    line-height: 19px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff
  }
  .image-delete:hover{
    background-color: #ad9570;
    color: #ffffff;
  }
}
.edit-tweet-image{
  width: 200px;
  margin: 10px auto 0;
  position: relative;
  #edit-image_preview{
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
  }
  .image-delete{
    position: absolute;
    top: 5px;
    left: 5px;
    border: solid 1px #ad9570;
    color: #ad9570;
    height: 20px;
    line-height: 19px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff
  }
  .image-delete:hover{
    background-color: #ad9570;
    color: #ffffff;
  }
}
.lower-form{
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  .image-label{
    position: relative;
    .hidden-form{
      display: none;
    }
    .image-icon{
      font-size: 30px;
      line-height: 40px;
      cursor: pointer;
    }
  }
}
