-# インナー１
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %path{d: "m84.667 177.94c15.255 18.068 29.123 17.226 42.333 0 5.2917-2.6458 10.583 2.6458 15.53 5.7858 5.0938 3.2334 10.928 12.735 8.2826 39.193l-2.6458 19.05-10.583 2e-5v-29.633 42.333h-63.5v-42.333l1e-6 29.104-10.583-1e-5 -2.1167-18.521c-3.175-21.167 1.0528-34.621 5.5096-37.572 7.1904-4.7614 13.324-8.8904 17.774-7.4072z", stroke: "#000", "stroke-width": "3"}
