-# パーカー１
#parker
  %svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
    %g{stroke: "#000"}
      %path{d: "m105.83 183.76c15.875-3.175 21.167-3.175 21.167-8.4667 6.0592-0.13193 10.583 0 10.583 5.2917l10.583 5.2917c3.6668 12.488 7.7963 25.008 4.7625 37.042l-2.3673 21.167h-12.672v10.583h-65.171v-10.583h-12.672l-2.3673-21.167c-1.5469-13.77 2.6926-25.179 5.8208-37.042l10.583-5.2917c0-5.2917 2.608-6.2284 10.583-5.2917 0 5.2917 5.2917 5.2917 21.167 8.4667z", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2.92"}
    %g{stroke: "#000", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "3"}
      %path{d: "m137.58 204.4v39.688"}
      %path{d: "m73.025 204.4v39.688"}
      %path{fill: "none", d: "m74.083 180.58c5.2917 10.583 21.167 2.6458 31.75 2.6458 10.583 1e-5 26.458 7.9375 31.75-2.6458"}
    = render partial: "/avatar/tops/tops1_line"
