.side-content
  %h3.side-content__title
    %span
    = icon "fas", "thumbs-up"
    tweetランキング
  .content
    %span
    = icon "fas", "crown"
    .content__box
      .small-avatar
      .content__box__post
        .upper-post
          .user-name
            hoge@fuga
          .post-date
            00-00-00
        .lower-post
          .tweet
            こんにちはああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ

  %h3.side-content__title
    %span
    = icon "fas", "running"
    distanceランキング
  .content
    %span
    = icon "fas", "crown"
    .content__box
      .small-avatar
      .content__box__post
        .upper-post
          .user-name
            hoge@fuga
        .lower-post
          週平均走行距離
          .weekly_average_mileage
            ５km