-# 下半身（ジャージ）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000"}
    %path{d: "m79.375 254.67h52.917l-5.2917 31.75h-42.333z", "stroke-width": "3"}
    %path{d: "m105.83 265.25v21.167", "stroke-width": "3"}
  #line.white
    %svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
      %path{d: "m128.59 256.79-5.2917 27.517", "stroke-linecap": "round", "stroke-width": "1.5"}
      %path{d: "m124.88 256.79-5.2917 27.517", "stroke-linecap": "round", "stroke-width": "1.5"}
