-# 下半身（ショートパンツ）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000", "stroke-width": "3"}
    %path{class: "skin", d: "m87.842 267.9 35.98-8e-3 -3.7017 18.528h-28.575z"}
    %path{d: "m77.258 254.67h57.15l2.1167 13.229c-26.458 0-37.181-0.44146-61.383 0z", "stroke-linejoin": "round"}
    %path{d: "m105.83 268.95v17.462"}
