-# 下半身（ぽっちゃり）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000"}
    %path{class: "skin", d: "m84.667 275.83h42.333v10.583h-21.167v-10.583 10.583h-21.167z", "stroke-width": "3"}
    %path{d: "m74.084 254.67c21.609 7.2983 42.745 6.8092 63.499 0v21.167h-31.749v-10.583 10.583h-31.749z", "stroke-width": "2.9999"}
