-# 下半身（太った）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000"}
    %path{class: "skin", d: "m84.667 280.07h42.333v6.35h-21.167v-6.35 6.35h-21.167z", "stroke-width": "3"}
    %path{d: "m68.792 259.96c21.167 5.2916 52.916 5.2916 73.024-1.5875l-4.2332 21.695h-31.749v-14.816 14.816h-31.749z", "stroke-width": "2.9999"}
