-# 下半身（スリム）
%svg{version: "1.1", viewbox: "0 0 210 297", xmlns: "http://www.w3.org/2000/svg", "xmlns:cc": "http://creativecommons.org/ns#", "xmlns:dc": "http://purl.org/dc/elements/1.1/", "xmlns:rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g{stroke: "#000", "stroke-width": "3"}
    %path{d: "m74.083 254.67h63.5v21.167h-31.75v-10.583 10.583h-31.75z"}
    %path{class: "skin", d: "m84.667 275.83h42.333v10.583h-21.167v-10.583 10.583h-21.167z"}

